.header {
  display: flex;
  justify-content: space-between;
  padding: 16px !important;
  font-weight: 700;
}

.tituloContainer {
  font-size: 18px;
}

.leftContainer {
  min-width: 22px;
}

.rightContainer {
  min-width: 22px;
}
