.botaoLogin {
  border: none;
  background-color: var(--loginPrimaryColor);
  color: #fff;
  padding: 12px !important;
  width: fit-content;
  height: 35px;
  font-size: 12px;
  border-radius: 2px;
  letter-spacing: 0.8px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
